* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  :root { 
    --beige:rgb(31, 38, 44);
    --beige-claro: #253442;
    --marron: black;
    --marron-oscuro: rgb(255, 255, 255);
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--beige-claro);
    color: var(--marron-oscuro);
  }
  
  
  h2{
  
    text-align: center;
  }
  
  .top-letras {
    background-color: var(--beige);
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--marron-oscuro);
    padding: 8px 0;
  }
  
  .logo-barra {
    background-color: #253442;
    text-align: center;
    padding: 30px 20px;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .logo-text {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: var(--marron-oscuro);
  }
  
  .menu-barra {
    background-color: rgb(31, 38, 44);
    padding: 14px 0;
    text-align: center;
  }
  
  
  .card {
    
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 18px;
    padding: 30px 40px;
    width: 380px;
    text-align: center;
    box-shadow: 0 10px 30px rgb(255, 255, 255);
    margin: 40px auto;
    background-color:  rgba(255, 255, 255, 0.08);    ;
    color: var(--marron-oscuro);
  }
  
  .card h2 {
    margin: 0 0 10px;
    font-size: 24px;
    letter-spacing: 1px;
  }
  
  .card p {
    margin: 0 0 20px;
    font-size: 14px;
    opacity: 0.8;
  }
  
  .card input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.05);
    color: var(--marron-oscuro);
    outline: none;
    margin-bottom: 15px;
  }
  
  .card input:focus {
    border-color: #66f6ff;
    box-shadow: 0 0 10px rgba(102, 246, 255, 0.4);
  }
  
  .card button {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, #66f6ff, #a855f7);
    color: #0b1220;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .card button:hover {
    transform: translateY(-2px);
  }
  
  #mensaje {
    margin-top: 20px;
    padding: 15px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: none;
  }
  
  #mensaje span {
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  
  #mensaje small {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    opacity: 0.8;
  }
  
   .intro{
      display: flex;
      padding: 80px;
      gap: 50px;
      align-items: center;
      display: flex;
      align-items: center;   
      gap: 20px;    
  }
  
  .intro-texto {
      flex: 1;
     font-size: 19px;
  }
  
  .intro-texto h2 {
      font-size: 35px;
      margin-bottom: 20px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .intro-texto button {
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      background-color: black;
      color: white;
      border-radius: 20px;
      cursor: pointer;
  }
  
  .intro-img img {
      width: 70%;
      border-radius: 15px;
      width: 500px;
  }
  
  
  .boton-2:hover {
      background-color: #d6aa87;
  }